[
	{
		"ParameterKey": "Refresher",
		"ParameterValue": "refresher-value-11"
	},
	{
		"ParameterKey": "Vpc",
		"ParameterValue": "vpc-b86894de"
	},
	{
		"ParameterKey": "Certificate",
		"ParameterValue": "arn:aws:acm:ap-southeast-1:981317724248:certificate/fa0abe18-d301-44d0-a4f9-dda881883ee9"
	},
	{
		"ParameterKey": "SubnetID",
		"ParameterValue": "subnet-0b517a74dea417994"
	},
	{
		"ParameterKey": "SubnetID2",
		"ParameterValue": "subnet-55bb1b33"
	},
	{
		"ParameterKey": "SubnetID3",
		"ParameterValue": "subnet-a86fbee0"
	},
	{
		"ParameterKey": "DockerImageURI",
		"ParameterValue": "981317724248.dkr.ecr.ap-southeast-1.amazonaws.com/prod-sdconnect-ecr:latest"
	},
	{
		"ParameterKey": "PORT",
		"ParameterValue": "8080"
	},
	{
		"ParameterKey": "NodeEnv",
		"ParameterValue": "development"
	},
	{
		"ParameterKey": "JwtSecret",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "ShopUrl",
		"ParameterValue": "https://tmdt.sdconnect.vn"
	},
	{
		"ParameterKey": "DBDialect",
		"ParameterValue": "mysql"
	},
	{
		"ParameterKey": "DBHost",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "DBDatabase",
		"ParameterValue": "sdconnect"
	},
	{
		"ParameterKey": "DBPort",
		"ParameterValue": "3306"
	},
	{
		"ParameterKey": "DBUsername",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "DBPassword",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "AwsRegion",
		"ParameterValue": "ap-southeast-1"
	},
	{
		"ParameterKey": "AWSAccessKey",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "AWSSecretKey",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "S3BucketName",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "SmtpHost",
		"ParameterValue": "email-smtp.ap-southeast-1.amazonaws.com"
	},
	{
		"ParameterKey": "SmtpPort",
		"ParameterValue": "465"
	},
	{
		"ParameterKey": "SmtpSecure",
		"ParameterValue": "true"
	},
	{
		"ParameterKey": "SmtpUsername",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "SmtpPassword",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "SmtpFrom",
		"ParameterValue": "no-reply@sdconnect.vn"
	},
	{
		"ParameterKey": "ESEndpoint",
		"ParameterValue": "https://search-sdconnect-prod-f7ptacyabv2uojsjbdea7ltqty.ap-southeast-1.es.amazonaws.com/"
	},
	{
		"ParameterKey": "ESUsername",
		"ParameterValue": "admin"
	},
	{
		"ParameterKey": "ESPassword",
		"ParameterValue": "PasswordIsPassword-123"
	},
	{
		"ParameterKey": "RedisUrl",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "RedisDatabase",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "RedisPort",
		"ParameterValue": "6379"
	},
	{
		"ParameterKey": "RedisDialTimeout",
		"ParameterValue": "0"
	},
	{
		"ParameterKey": "RedisReadTimeout",
		"ParameterValue": "0"
	},
	{
		"ParameterKey": "RedisWriteTimeout",
		"ParameterValue": "0"
	},
	{
		"ParameterKey": "RedisUsername",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "RedisPassword",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "QueueUrl",
		"ParameterValue": "https://sqs.ap-southeast-1.amazonaws.com/981317724248/sdconnect-sqs-dev.fifo"
	},
	{
		"ParameterKey": "ChatApiUrl",
		"ParameterValue": "wss://chat.sdconnect.vn/v0/channels"
	},
	{
		"ParameterKey": "ChatApiKey",
		"ParameterValue": ""
	},
	{
		"ParameterKey": "AdminEmail",
		"ParameterValue": "hello@sdconnect.vn"
	}
]
