@tailwind base;

:root {
	--color-green: #00d796;
	--color-gray-200: #b0bdc6;
	--color-dark-blue: #15114e;
}

#__next {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading font-semibold;
}

h1 {
	font-size: 26px;
	color: var(--dark-blue);
}

h2 {
	font-size: 20px;
	color: var(--dark-blue);
}

h3 {
	font-size: 17px;
	color: var(--dark-blue);
	height: 24px;
}

h4 {
	font-size: 14px;
	color: var(--dark-blue);
}

h5 {
	font-size: 13px;
	color: var(--dark-blue);
}

h6 {
	font-size: 11px;
	color: var(--dark-blue);
}

.font-semibold {
	color: var(--dark-blue);
}

html {
	-webkit-tap-highlight-color: transparent;
}

a {
	@apply no-underline;
}

body {
	@apply font-body;
}

.center-child {
	@apply md:flex md:flex-col md:justify-center md:items-center;
}

.y-center {
	@apply top-1/2 -translate-y-1/2;
}

.x-center {
	@apply left-1/2 -translate-x-1/2;
}

.position-normal {
	@apply sm:top-0 sm:left-0 sm:-translate-x-0 sm:-translate-y-0;
}

.social-button {
	@apply border-gray-700 hover:bg-gray-700 hover:border-gray-700;
}

.flex-center {
	@apply flex items-center justify-center;
}

.abs-center {
	@apply absolute top-1/2 left-1/2 -translate-x-1/2;
}

@tailwind components;
@tailwind utilities;
