@tailwind base;

* {
  box-sizing: border-box;
}

:root {
  --color-primary-hover: #02bf86;
  --color-primary: #00d796;
  --color-green: #00d796;
  --color-gray-200: #b0bdc6;
  --color-gray-10: #eef2f5;
  --color-dark-blue: #15114e;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-semibold;
  color: var(--color-dark-blue);
}

p {
  font-size: 16px;
}

.fic {
  @apply flex items-center;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 14px;
}
.new-tab-link {
  padding-right: 0.3em;
  position: relative;
}

.new-tab-link:hover::after {
  opacity: 1;
}

.new-tab-link::after {
  opacity: 0;
  transition: opacity 200ms 100ms;
  content: "";
  position: absolute;
  right: -1em;
  top: 50%;
  transform: translateY(-55%);
  width: 1em;
  height: 1em;
  margin: 0 0.05em 0 0.1em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+)
    no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: text-bottom;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 11px;
}

strong {
  color: var(--color-dark-blue);
}

.font-semibold {
  color: var(--color-dark-blue);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-gray-200);
}

html {
  -webkit-tap-highlight-color: transparent;
}

a {
  @apply no-underline;
}

body {
  @apply font-body;
}

.center-child {
  @apply md:flex md:flex-col md:justify-center md:items-center;
}

.y-center {
  @apply top-1/2 -translate-y-1/2;
}

.x-center {
  @apply left-1/2 -translate-x-1/2;
}

.flex-items-center {
  @apply flex items-center;
}

.position-normal {
  @apply sm:top-0 sm:left-0 sm:-translate-x-0 sm:-translate-y-0;
}

.social-button {
  @apply border-gray-700 hover:bg-gray-700 hover:border-gray-700;
}

.flex-center {
  @apply flex items-center justify-center;
}

.abs-fullsize {
  @apply absolute top-0 bottom-0 left-0 right-0;
}

.abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.all-transition {
  @apply transition-all duration-200;
}

.load-necessary-styles {
  @apply fixed bottom-0;
}

em[class^="hlt"] {
  @apply font-semibold not-italic;
}

@tailwind components;
@tailwind utilities;
