[
  {
    "ParameterKey": "Refresher",
    "ParameterValue": "refresher"
  },
  {
    "ParameterKey": "Vpc",
    "ParameterValue": "vpc-b86894de"
  },
  {
    "ParameterKey": "Certificate",
    "ParameterValue": "arn:aws:acm:ap-southeast-1:981317724248:certificate/fa0abe18-d301-44d0-a4f9-dda881883ee9"
  },
  {
    "ParameterKey": "SubnetID",
    "ParameterValue": "subnet-0b517a74dea417994"
  },
  {
    "ParameterKey": "SubnetID2",
    "ParameterValue": "subnet-55bb1b33"
  },
  {
    "ParameterKey": "SubnetID3",
    "ParameterValue": "subnet-a86fbee0"
  },
  {
    "ParameterKey": "DockerImageURI",
    "ParameterValue": "981317724248.dkr.ecr.ap-southeast-1.amazonaws.com/dev-sdconnect-shop-ecr:latest"
  },
  {
    "ParameterKey": "PORT",
    "ParameterValue": "3000"
  },
  
  {
    "ParameterKey": "NextPublicGraphqlEndpoint",
    "ParameterValue": "https://api.dev.sdconnect.vn/graphql"
  },
  {
    "ParameterKey": "NextPublicDomain",
    "ParameterValue": "sdconnect.vn"
  },
  {
    "ParameterKey": "NextauthUrl",
    "ParameterValue": "https://dev.sdconnect.vn"
  },
  {
    "ParameterKey": "AuthSecret",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "GoogleClientId",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "GoogleClientSecret",
    "ParameterValue": "wZ67rNrHm1HyNwMD3PSotUAh"
  },
  {
    "ParameterKey": "NextPublicChatUrl",
    "ParameterValue": "https://chat.dev.sdconnect.vn"
  },
  {
    "ParameterKey": "NextPublicChatServerUrl",
    "ParameterValue": "https://chat.sdconnect.vn/v0/channels"
  },
  {
    "ParameterKey": "NextPublicChatServerApiKey",
    "ParameterValue": ""
  }
]
