# Don't change this
AWS_REGION=ap-southeast-1

PROD_DOCKER_IMAGE_NAME=prod-sdconnect-shop
PROD_AWS_ECR_REPOSITORY=dev-sdconnect-shop-ecr

DEV_DOCKER_IMAGE_NAME=dev-sdconnect-shop
DEV_AWS_ECR_REPOSITORY=prod-sdconnect-shop-ecr

# Change this
AWS_ID=
