# Don't change this
AWS_REGION=ap-southeast-1

PROD_DOCKER_IMAGE_NAME=prod-sdconnect-admin
PROD_AWS_ECR_REPOSITORY=prod-sdconnect-admin-ecr

DEV_DOCKER_IMAGE_NAME=dev-sdconnect-admin
DEV_AWS_ECR_REPOSITORY=dev-sdconnect-admin-ecr

# Change this
AWS_ID=
