
NEXT_PUBLIC_GRAPHQL_ENDPOINT=http://localhost:8080/graphql

# SETTINGS
# SETTINGS
NEXT_PUBLIC_DOMAIN=sdconnect.vn
NEXTAUTH_URL=http://localhost:3000

# AUTH
AUTH_SECRET=e9f5a189eaf62edd5562a43f967811e89535c515c774733b6ae93d882c3ecc3b #Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# Google AUTH
GOOGLE_CLIENT_ID=858789021754-vnjsm28c8bjj5meelp7trf3r6htivtie.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=wZ67rNrHm1HyNwMD3PSotUAh

NEXT_PUBLIC_DISCOVERY_ENDPOINT=http://localhost:3000
