NODE_ENV=development
PORT=8080
JWT_SECRET=supersecret

# Database

# DEV Database
DEV_DB_DIALECT=mysql
DEV_DB_HOST=localhost
DEV_DB_DATABASE=sdconnectDev
DEV_DB_PORT=3306
DEV_DB_USERNAME=root
DEV_DB_PASSWORD=password

# PROD Database
PROD_DB_DIALECT=mysql
PROD_DB_HOST=localhost
PROD_DB_DATABASE=sdconnectDev
PROD_DB_PORT=3306
PROD_DB_USERNAME=root
PROD_DB_PASSWORD=password

# AWS
AWS_REGION=ap-southeast-1

# AWS DEV
DEV_AWS_SECRET_KEY=devsecretkey
DEV_AWS_ACCESS_KEY=devaccesskey

# AWS PROD
PROD_AWS_SECRET_KEY=prodsecretkey
PROD_AWS_ACCESS_KEY=prodaccesskey

# S3 DEV
DEV_S3_BUCKET_NAME=dev-s3-bucket

# S3 PROD
PROD_S3_BUCKET_NAME=prod-s3-bucket

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USERNAME=email@gmail.com
SMTP_PASSWORD=password-123
SMTP_FROM=<no-reply>@sdconnect.dev

# ES
ES_ENDPOINT=http://localhost:9200
ES_USERNAME=elastic
ES_PASSWORD=MxdTBuKuT3xMhw2me4Q8